@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar corner */
.scroll::-webkit-scrollbar-corner {
    display: none;
}

.scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
